@model SideOffice.Infra.CrossCutting.Identity.Models.RentViewModels.RentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Aluguel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rent_id" class="control-label"></label>
                <input asp-for="Rent_id" class="form-control"/>
                <span asp-validation-for="Rent_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room_id" class="control-label"></label>
                <input asp-for="Room_id" class="form-control"/>
                <span asp-validation-for="Room_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_id" class="control-label"></label>
                <input asp-for="User_id" class="form-control"/>
                <span asp-validation-for="User_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start_datetime" class="control-label"></label>
                <input asp-for="Start_datetime" class="form-control" />
                <span asp-validation-for="Start_datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_datetime" class="control-label"></label>
                <input asp-for="End_datetime" class="form-control" />
                <span asp-validation-for="End_datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
